@font-face{
	font-family:bebasNeue;
	src: url(BebasNeue.otf);
}

@font-face{
	font-family:dosisBold;
	src: url(Dosis-Bold.ttf);
}

body{
	background-color: #fdf2d8;
	color: #343745;
	text-align:center;
	font-family:dosisBold;
	font-size:16px;
}

#giveMeTheTip{
	color: #e75849;
	font-size:64px;
	font-family:bebasNeue;
	margin:0;
	padding:0;
	margin-top:50px;
}

a{
	text-decoration: none;
	color: #343745;
	font-family:bebasNeue;
}

div.landingIcon{
	display:inline-block;
	margin:0 30px;
}

#icons{
	margin-top:70px;
	margin-bottom:20px;
}