<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
	<div id="fb-root"></div>
	<script></script>
	<div id="logOut"><a  href="#">LOGE OUT</a></div>
	<div id="giveMeTheTip">GIVE ME THE TIP</div>
	<div id="content">
		<div class="whiteBox" id="refill">
			<h2 id="refillHeader">SUCH REFILL</h2><p style="display:inline;" id="refilllabel">Send Dogecoins to: </p><input id="wallet" type="text" class="customInput" />
		</div>
	
		<div id="leftPane">
			<div class="whiteBox" id="notifications">
				<h2>MUCH NOTIFICATION</h2>
				<div class="notificationRow">
					<img src="/static/notification_heart.png"/>
					You tipped <span class="name" id="name1">John Appleseed</span> <span class="amount" id="amount1">6</span> Dogecoins
				</div>
				<div class="notificationRow">
					<img src="/static/notification_jar.png"/>
					<span class="name" id="name2">John Appleseed</span> tipped you <span class="amount" id="amount2">10</span> Dogecoins
				</div>
				<div class="notificationRow">
					<img src="/static/notification_jar.png"/>
					<span class="name" id="name2">John Appleseed</span> tipped you <span class="amount" id="amount2">10</span> Dogecoins
				</div>
			</div>
		</div>
		<div id="rightPane">
			<div class="whiteBox" id="balance">
				<h2>BALANCE, WOW</h2>
				<div id="number">23</div>
				<div id="units">DOGECOINS</div>
			</div>
			<div class="whiteBox" id="withdraw">
				<input class="customInput" id="enterAmount" type="text" placeholder="Much Amount?"/>
				<input class="button" id="withdrawButton" type="button" value="OMG WITHDRAW"/>
			</div>
		</div>
	</div>
</body>
</html>