<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<script src="/static/main.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<!-- LIGHTBOX -->
	<div id="blackout"></div>
	<div id="form">WALLET PLS
		<input id="userWallet" type="text" class="customInput" />
		<input class="button" id="OKAYButton" type="button" value="OK" onclick='alert("test")'/>
		<div id="OKAYButtonShadow"></div>
		<p id="cancel" onclick="hidePopup();">CANCEL</p>
	</div>
	<!-- LIGHTBOX END -->
	<div id="giveMeTheTip">GIVE ME THE TIP</div>
	<div id="content">
		<div class="whiteBox" id="refill">
			<div id="test"><h2 id="refillHeader">SUCH REFILL</h2><p id="refilllabel">Send Dogecoins to: </p><input id="wallet" type="text" class="customInput" readonly="readonly" value=<%= @wallet %>/></div>
		</div>
			<div class="whiteBox" id="notifications">
				<h2>MUCH NOTIFICATION</h2>
				<div id="notificationContainer">
					<%= lc { sender, recipient, amount } inlist Enum.reverse(@events) do %>
						<div class="notificationRow">
						<%= if sender == @user_id do %>
							<img src="/static/notification_heart.png"/>
							You tipped <span class="name" id="name1"><%= recipient %></span> <span class="amount" id="amount1"><%= amount %></span> Dogecoins
						<% end %>
						<%= unless sender == @user_id do %>
							<img src="/static/notification_jar.png"/>
							<span class="name" id="name2"><%= sender %></span> tipped you <span class="amount" id="amount2"><%= amount %></span> Dogecoins
						<% end %>
						</div>
					<% end %>
				</div>
			</div><!-- notification -->
		<div id="rightPane">
			<div class="whiteBox" id="balance">
				<h2 style="display:block;">BALANCE, WOW</h2>
				<span id="number"><%= @balance %></span>
				<span id="units">DOGECOINS</span>
			</div>
			<div class="whiteBox" id="withdraw">
				<input class="customInput" id="enterAmount" type="text" placeholder="Much Amount?"/>
				<input class="button" id="withdrawButton" type="button" value="OMG WITHDRAW" onclick="showPopup();"/>
				<div id="withdrawButtonShadow">
			</div>
		</div>
	</div>

</body>
</html>