<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../priv/static/main.css">
	<link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
	<div id="fb-root"></div>
	<script></script>

	<div id="giveMeTheTip">GIVE ME THE TIP</div>
	<div class="whiteBox" id="refill">
		<h2>SUCH REFILL</h2><p>Send Dogecoins to: <input type="text" class="customInput" /></p>
	</div>
	<div id="leftPane">
		<div class="whiteBox" id="notifications">
			<h2>MUCH NOTIFICATION</h2>
			<div class="notificationRow">You tipped <span class="name" id="name1">John Appleseed</span> <span class="amount" id="amount1">6</span> Dogecoins</div>
			<div class="notificationRow"><span class="name" id="name2">John Appleseed</span> tipped you <span class="amount" id="amount2">10</span> Dogecoins</div>
			<div class="notificationRow"></div>
		</div>
	</div>
	<div id="rightPane">
		<div class="whiteBox" id="balance">
			<h2>BALANCE, WOW</h2>
			<div id="number">23</div>
			<div id="units">DOGECOINS</div>
		</div>
		<div class="whiteBox" id="withdraw">
			<input class="customInput" id="enterAmount" type="text" placeholder="Much Amount?"/>
			<input class="button" id="withdrawButton" type="button" value="OMG WITHDRAW"/>
		</div>
	</div>

</body>
</html>