<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../priv/static/main.css">
	<link rel="shortcut icon" href="../../priv/static/favicon.ico" />
</head>
<body>
	<div id="giveMeTheTip">GIVE ME THE TIP</div>
	<p style="margin:0;">Such tip, much Facebook, very appreciation. Wow.</p>
	<div id="icons">
		<div class="landingIcon"><img class="" id="lock" src="../../priv/static/lock.png"/><p>Such<br/> Secure</p></div>
		<div class="landingIcon"><img class="" id="gift" src="../../priv/static/gift.png"/><p>Much free Dogecoins<br/> (10, actually)</p></div>
		<div class="landingIcon"><img class="" id="heart" src="../../priv/static/heart.png"/><p>Very Content<br/> Appreciation</p></div>
	</div>
	<div><a class="button" id="logInButton" href="javascript:alert('signup :)')"><img id="fbLogo" src='../../priv/static/fbLogo.png'/>LOGE IN</a></div>
</body>
</html>
