<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../priv/static/main.css">
	<link rel="shortcut icon" href="../../priv/static/favicon.ico" />
	<script src='jquery-1.8.3.min.js'></script>
	<script type="text/javascript">
	</script>
</head>
<body>
	<div id="giveMeTheTip">GIVE ME THE TIP</div>
	<p style="margin:0;">Such tip, much Facebook, very appreciation. Wow.</p>
	<div id="icons">
		<div class="landingIcon"><img class="" id="lock" src="../../priv/static/lock.png"/><p>Super<br/> Secure</p></div>
		<div class="landingIcon"><img class="" id="gift" src="../../priv/static/gift.png"/><p>Start with 10<br/> free Dogecoins</p></div>
		<div class="landingIcon"><img class="" id="heart" src="../../priv/static/heart.png"/><p>Appreciate<br/> Content</p></div>
	</div>
	<div><a id="logInButton" href="javascript:alert('signup :)')"><img id="fbLogo" src='../../priv/static/fbLogo.png'/>LOG IN</a></div>
</body>
</html>
